.container {
  display: flex;
  min-height: 100%;
  height: auto;
}

.left-container {
  flex: 1;
  background: linear-gradient(0deg, rgba(27,87,207,1) 0%, rgba(255,255,255,1) 35%);
  color: #000000;
  text-align: center;
}

.goal-text {
  width: 75%;
  margin: 0 auto;
}

.logo {
  margin: 20% auto;
  height: 48px;
}

.right-container {
  width: 50%;
  background-color: #1B57CFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    background: #ffffff;
    background: linear-gradient(0deg, rgba(27,87,207,1) 0%, rgba(255,255,255,1) 35%);
  }

  .left-container, .right-container {
    flex: initial;
    width: 100%;
  }

  .left-container {
    background: none;
  }

  .right-container {
    background: none;
  }

  .login-form {
    margin-top: 40px;
    margin-bottom: 24px;
    box-shadow: 0 1px 10px 1px #9b9b9b4a;
  }

  .form-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .logo {
    height: 32px;
  }
}
