.article-verification-badge {
  padding: 10px;
  border-radius: 7px;
  color: #ffffff;
}

.badge-verified {
  background-color: #00880d;
}

.badge-to-verify {
  background-color: #e0bf00;
}

.badge-declined {
  background-color: #d50000;
}
