<nz-layout class="page-layout">
  <nz-header class="sar-account-page-header">
    <div class="logo">
      <ng-container *ngIf="isMobile$ | async; else goBackButton">
        <button
          nz-button nzType="link"
          (click)="openDrawer()"
        >
          <span nz-icon nzType="menu"></span>
        </button>
      </ng-container>
      <ng-template #goBackButton>
        <button
          nz-button nzType="link"
          [routerLink]="['/content']"
        >
          <span nz-icon nzType="arrow-left"></span>
        </button>
      </ng-template>
      <img
        src="assets/images/science-archive.logo.with-text.svg"
        alt="Logo"
        class="sar-logo"
      >
    </div>
  </nz-header>
  <nz-layout>
    <ng-container *ngIf="isMobile$ | async; else desktopSider">
      <nz-drawer
        [nzTitle]="'accountPage.account' | nzI18n"
        nzClosable="true"
        nzPlacement="left"
        [nzVisible]="(showMobileDrawer$ | async) ?? false"
        (nzOnClose)="closeDrawer()"
      >
        <ng-container class="drawer-content" *nzDrawerContent>
          <ul nz-menu nzMode="inline" nzTheme="light">
            <li
              nz-menu-item
            >
              <span nz-icon nzType="user" nzTheme="outline"></span>
              <a style="margin-left: 8px" (click)="onDrawerNavigateTo('/account', 'profile')">
                {{ 'accountPage.profile' | nzI18n }}
              </a>
            </li>
            <li nz-submenu [nzTitle]="'accountPage.myArticles' | nzI18n" nzIcon="book">
              <ul>
                <li nz-menu-item>
                  <a style="margin-left: 8px" (click)="onDrawerNavigateTo('/account', 'user-articles')">
                    {{ 'accountPage.allArticles' | nzI18n }}
                  </a>
                </li>
              </ul>
            </li>
            <li nz-menu-item>
              <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
              <a style="margin-left: 8px" href="/content">
                {{ 'accountPage.backToMain' | nzI18n }}
              </a>
            </li>
          </ul>
        </ng-container>
      </nz-drawer>
    </ng-container>
    <ng-template #desktopSider>
      <nz-sider nzWidth="248px" nzTheme="light">
        <ul nz-menu nzMode="inline" nzTheme="light">
          <li
            nz-menu-item
            routerLink="profile"
            nzMatchRouter
          >
            <span nz-icon nzType="user" nzTheme="outline"></span>
            <span>
              {{ 'accountPage.profile' | nzI18n }}
            </span>
          </li>
          <li nz-submenu [nzTitle]="'accountPage.myArticles' | nzI18n" nzIcon="book">
            <ul>
              <li nz-menu-item routerLink="user-articles" nzMatchRouter>
                {{ 'accountPage.allArticles' | nzI18n }}
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
    </ng-template>
    <nz-layout class="inner-layout">
      <nz-content style="padding: 0">
        <router-outlet/>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
