.page-layout {
  min-height: 100%;
  height: auto;
}

.sar-logo {
  margin-left: 8px;
  height: 24px;
}
.sar-account-page-header {
  background-color: #ffffff;
  box-shadow: 0 20px 8px -16px #9b9b9b4a;
}

.drawer-content {
  padding: 0;
}

.sider-menu {
  height: 100%;
  //border-right: 0;
}

.inner-layout {
  padding: 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  //background: #fff;
  padding: 24px;
  min-height: 280px;
}

@media screen and (max-width: 768px) {
  .inner-layout {
    padding: 8px;
    margin: 0;
  }

  .sar-account-page-header {
    align-content: center;
    padding: 8px;
    background-color: #ffffff;
    box-shadow: 0 20px 8px -16px #9b9b9b4a;
  }
}
