<nz-card [nzTitle]="pageTitle" [nzExtra]="addNewArticle">
  <ng-container *ngIf="(articles$ | async) as articles">
    <ng-container *ngIf="articles.length > 0; else emptyList">
      <sar-user-article-card style="margin-top: 8px" *ngFor="let article of articles" [article]="article" />
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <nz-spin nzSize="large"/>
  </ng-template>

  <ng-template #emptyList>
    <ng-container *ngIf="!(isLoadingArticleList$ | async); else loading">
      <nz-empty
        [nzNotFoundContent]="'userArticlesPage.youHaveNotCreatedArticle' | nzI18n"
        [nzNotFoundFooter]="createArticle"
      />
    </ng-container>
    <ng-template #createArticle>
      <button
        nz-button
        nzType="primary"
        (click)="openCreateNewModal()"
      >
        {{ 'userArticlesPage.createFirstArticle' | nzI18n }}
      </button>
    </ng-template>
  </ng-template>
</nz-card>

<ng-template #pageTitle>
  {{ 'userArticlesPage.allArticles' | nzI18n }}
</ng-template>

<ng-template #addNewArticle>
  <button
    nz-button
    nzType="primary"
    (click)="openCreateNewModal()"
  >
    <span nz-icon nzType="plus"></span>
    {{ 'userArticlesPage.new' | nzI18n }}
  </button>
</ng-template>

<nz-modal
  [(nzVisible)]="showCreateNewModal"
  [nzTitle]="'userArticlesPage.createNewArticle' | nzI18n"
  (nzOnCancel)="onCancelCreateNewArticle()"
  (nzOnOk)="onCreateNewArticle()"
  [nzOkDisabled]="isCreatingNewArticle$ | async"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'userArticlesPage.specifyArticleTitle' | nzI18n">
          <nz-form-label nzRequired>{{ 'userArticlesPage.title' | nzI18n }}</nz-form-label>
          <nz-input-group>
            <input formControlName="title" type="text" nz-input [placeholder]="'userArticlesPage.articleTitle' | nzI18n" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'userArticlesPage.specifyArticleCategory' | nzI18n">
          <nz-form-label nzRequired>{{ 'userArticlesPage.category' | nzI18n }}</nz-form-label>
          <nz-select
            formControlName="categoryId"
            [nzPlaceHolder]="'userArticlesPage.category' | nzI18n"
          >
            <nz-option
              *ngFor="let category of categories$ | async"
              [nzLabel]="category.name"
              [nzValue]="category.id"
            />
          </nz-select>
        </nz-form-control>
        <ng-container *ngIf="subcategories$ | async as subcategories" >
          <nz-form-control *ngIf="subcategories.length > 0" [nzErrorTip]="'userArticlesPage.specifyArticleSubcategory' | nzI18n">
            <nz-form-label nzRequired>{{ 'userArticlesPage.subcategory' | nzI18n }}</nz-form-label>
            <nz-select formControlName="subcategoryId" [nzPlaceHolder]="'userArticlesPage.subcategory' | nzI18n">
              <nz-option
                *ngFor="let subcategory of subcategories$ | async"
                [nzLabel]="subcategory.name"
                [nzValue]="subcategory.id" />
            </nz-select>
          </nz-form-control>
        </ng-container>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'userArticlesPage.specifyDescription' | nzI18n">
          <nz-form-label>{{ 'userArticlesPage.description' | nzI18n }}</nz-form-label>
          <nz-textarea-count [nzMaxCharacterCount]="2000">
            <textarea
              nz-input
              formControlName="description"
              rows="3"
              [placeholder]="'userArticlesPage.describeArticle' | nzI18n"
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
      <nz-upload
        nzType="drag"
        [nzMultiple]="false"
        [(nzFileList)]="fileList"
        [nzBeforeUpload]="beforeUpload.bind(this)"
      >
        <p class="ant-upload-drag-icon">
          <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">{{ 'userArticlesPage.dragDocsToArea' | nzI18n }}</p>
        <p class="ant-upload-hint">
          {{ 'userArticlesPage.supportSingleUpload' | nzI18n }}
        </p>
      </nz-upload>
    </form>
  </ng-container>
</nz-modal>
