<nz-card [nzTitle]="articleTitle" [nzExtra]="addNewArticle">
  <ng-container *ngIf="(articles$ | async) as articles">
    <ng-container *ngIf="articles.length > 0; else emptyList">
      <sar-user-article-card style="margin-top: 8px" *ngFor="let article of articles" [article]="article" />
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <nz-spin nzSize="large"/>
  </ng-template>

  <ng-template #emptyList>
    <ng-container *ngIf="!(isLoadingArticleList$ | async); else loading">
      <nz-empty
        nzNotFoundContent="You haven't created any article"
        [nzNotFoundFooter]="createArticle"
      />
    </ng-container>
    <ng-template #createArticle>
      <button
        nz-button
        nzType="primary"
        (click)="openCreateNewModal()"
      >
        Create your first article
      </button>
    </ng-template>
  </ng-template>
</nz-card>

<ng-template #articleTitle>
  All articles
</ng-template>

<ng-template #addNewArticle>
  <button
    nz-button
    nzType="primary"
    (click)="openCreateNewModal()"
  >
    <span nz-icon nzType="plus"></span>
    New
  </button>
</ng-template>

<nz-modal
  [(nzVisible)]="showCreateNewModal"
  nzTitle="Create new article"
  (nzOnCancel)="onCancelCreateNewArticle()"
  (nzOnOk)="onCreateNewArticle()"
  [nzOkDisabled]="isCreatingNewArticle$ | async"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-control  nzErrorTip="Please article title!">
          <nz-form-label nzRequired>Title</nz-form-label>
          <nz-input-group>
            <input formControlName="title" type="text" nz-input placeholder="Article title" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please specify article category">
          <nz-form-label nzRequired>Category</nz-form-label>
          <nz-select
            formControlName="categoryId"
            nzPlaceHolder="Category"
          >
            <nz-option
              *ngFor="let category of categories$ | async"
              [nzLabel]="category.name"
              [nzValue]="category.id"
            />
          </nz-select>
        </nz-form-control>
        <ng-container *ngIf="subcategories$ | async as subcategories" >
          <nz-form-control *ngIf="subcategories.length > 0" nzErrorTip="Please specify article subcategory">
            <nz-form-label nzRequired>Subcategory</nz-form-label>
            <nz-select formControlName="subcategoryId" nzPlaceHolder="Subcategory">
              <nz-option
                *ngFor="let subcategory of subcategories$ | async"
                [nzLabel]="subcategory.name"
                [nzValue]="subcategory.id" />
            </nz-select>
          </nz-form-control>
        </ng-container>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input article description!">
          <nz-form-label>Description</nz-form-label>
          <nz-textarea-count [nzMaxCharacterCount]="2000">
            <textarea
              nz-input
              formControlName="description"
              rows="3"
              placeholder="Describe what about your article is..."
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
      <nz-upload
        nzType="drag"
        [nzMultiple]="true"
        [(nzFileList)]="fileList"
        [nzBeforeUpload]="beforeUpload.bind(this)"
      >
        <p class="ant-upload-drag-icon">
          <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">Click or drag documents to this area to upload</p>
        <p class="ant-upload-hint">
          Support for a single or bulk upload.
          Strictly prohibit from uploading company data or other band files
        </p>
      </nz-upload>
    </form>
  </ng-container>
</nz-modal>
