<nz-card
  *ngIf="(user$ | async) as user; else loadingInfo"
  [nzTitle]="'profilePage.profile' | nzI18n"
>
  <nz-descriptions nzLayout="horizontal">
    <nz-descriptions-item nzSpan="3" [nzTitle]="'profilePage.name' | nzI18n">{{user.name}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="3" [nzTitle]="'profilePage.login' | nzI18n">{{user.login}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="3" [nzTitle]="'profilePage.email' | nzI18n">
      {{user.email}}
      <nz-tag nzColor="success" style="margin-left: 8px">
        <span nz-icon nzType="check-circle"></span>
        <span>{{ 'profilePage.confirmed' | nzI18n }}</span>
      </nz-tag>
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>

<ng-template #loadingInfo>
  <nz-spin nzSize="large"></nz-spin>
</ng-template>
