<nz-card
  *ngIf="(user$ | async) as user; else loadingInfo"
  nzTitle="Profile"
>
  <nz-descriptions nzLayout="horizontal">
    <nz-descriptions-item nzSpan="3" nzTitle="Name">{{user.name}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="3" nzTitle="Login">{{user.login}}</nz-descriptions-item>
    <nz-descriptions-item nzSpan="3" nzTitle="Email">
      {{user.email}}
      <nz-tag nzColor="success" style="margin-left: 8px">
        <span nz-icon nzType="check-circle"></span>
        <span>Confirmed</span>
      </nz-tag>
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>

<ng-template #loadingInfo>
  <nz-spin nzSize="large"></nz-spin>
</ng-template>
