<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
<sar-news-card [style]="'margin-top: 10px'"></sar-news-card>
