<nz-card>
  <ng-container *ngIf="news$ | async as news; else errorView">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/content', 'news']">News</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{news?.id?.substring(0, 10) + "..."}}
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <h2>{{news?.title}}</h2>

    <p class="sar-news-body-text">
      {{news?.body}}
    </p>
  </ng-container>

  <ng-template #errorView>
    <ng-container *ngIf="error$ | async as error">
      <ng-container [ngSwitch]="error">
        <ng-container *ngSwitchCase="400">
          <ng-container *ngTemplateOutlet="badRequestErrorView"/>
        </ng-container>
        <ng-container *ngSwitchCase="404">
          <ng-container *ngTemplateOutlet="notFoundErrorView" />
        </ng-container>
        <ng-container *ngSwitchCase="500">
          <ng-container *ngTemplateOutlet="internalServerErrorView" />
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container *ngTemplateOutlet="commonError" />
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #badRequestErrorView>
    <nz-result nzStatus="warning" nzTitle="Invalid search data" nzSubTitle="Incorrect search data">
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          [routerLink]="['/content', 'news']"
        >
          Back to news
        </button>
      </div>
    </nz-result>
  </ng-template>
  <ng-template #notFoundErrorView>
    <nz-result nzStatus="404" nzTitle="404" nzSubTitle="This news does not exist">
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          [routerLink]="['/content', 'news']"
        >
          Back to news
        </button>
      </div>
    </nz-result>
  </ng-template>
  <ng-template #internalServerErrorView>
    <nz-result nzStatus="error" nzTitle="Server error" nzSubTitle="Internal server error">
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          [routerLink]="['/content', 'news']"
        >
          Back to news
        </button>
      </div>
    </nz-result>
  </ng-template>
  <ng-template #commonError>
    <nz-result nzStatus="error" nzTitle="Unknown error" nzSubTitle="We were unable to process your request">
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          [routerLink]="['/content', 'news']"
        >
          Back to news
        </button>
      </div>
    </nz-result>
  </ng-template>
</nz-card>
