@font-face {
  font-family: 'Merriweather';
  src: url('./assets/fonts/MerriweatherSans.ttf');
}

@font-face {
  font-family: 'Golos';
  src: url('./assets/fonts/golos-text_vf.ttf');
}

* {
  font-family: 'Merriweather', 'Golos', serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
