<nz-card
  [style]="style"
  nzTitle="Computer Science"
>
  <div class="sar-subcategories-container">
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
    <sar-subcategory-card style="margin: 2px"></sar-subcategory-card>
  </div>
</nz-card>
