<header>
  <div class="sar-logo-wrapper">
    <a href="/">
      <span>
        <img
          src="assets/images/science-archive.logo.with-text.svg"
          alt="Logo"
          class="sar-logo"
        >
      <title>Science Archive</title>
      </span>
    </a>
  </div>
  <nz-affix nzOffsetTop="0">
    <nav class="sar-top-menu-container">
      <ul
        nz-menu
        nzTheme="light"
        nzMode="horizontal"
      >
        <li
          nz-menu-item
          routerLink="articles"
          nzMatchRouter
        >
          {{ "contentPage.headerMenu.articles" | nzI18n }}
        </li>
        <li
          nz-menu-item
          routerLink="categories"
          nzMatchRouter
        >
          {{ "contentPage.headerMenu.categories" | nzI18n }}
        </li>
        <li
          nz-menu-item
          routerLink="news"
          nzMatchRouter
        >
          {{ "contentPage.headerMenu.news" | nzI18n }}
        </li>
      </ul>
      <ng-container *ngIf="(currentUser$ | async) as currentUser; else signIn">
        <div
          (click)="onAccountClick()"
          class="sar-account-button"
        >
          <span>{{currentUser.login}}</span>
        </div>
      </ng-container>
      <ng-template #signIn>
        <div class="sar-account-button">
          <a href="/auth">Sign in</a>
        </div>
      </ng-template>
    </nav>
  </nz-affix>
</header>

<div class="sar-page-content">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer-content">
    <h2>Science Archive</h2>

    <div class="footer-info-container">
      <div class="footer-info-block">
        <p class="footer-category-header">{{ "contentPage.footer.menu" | nzI18n }}</p>
        <div class="footer-links-container">
          <p
            class="footer-link"
            routerLink="articles"
          >
            {{ "contentPage.footer.articles" | nzI18n }}
          </p>
          <p
            class="footer-link"
            routerLink="categories"
          >
            {{ "contentPage.footer.categories" | nzI18n }}
          </p>
          <p
            class="footer-link"
            routerLink="news"
          >
            {{ "contentPage.footer.news" | nzI18n }}
          </p>
        </div>
      </div>
      <div class="footer-info-block">
        <p class="footer-category-header">{{ "contentPage.footer.contactUs" | nzI18n }}</p>
        <div class="footer-links-container">
          <a class="footer-link" href="https://www.linkedin.com/in/anton-gavrilov-backend/" target="_blank">LinkedIn</a>
          <a class="footer-link" href="https://t.me/science_archive_project" target="_blank">{{ "contentPage.footer.telegramChannel" | nzI18n }}</a>
          <a class="footer-link" href="mailto:gavor0120@gmail.com">gavor0120&#64;gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<nz-drawer
  nzClosable="true"
  nzPlacement="right"
  [nzTitle]="(currentUser$ | async)?.login"
  [nzVisible]="(showAccountDrawer$ | async) ?? false"
  (nzOnClose)="onAccountDrawerClose()"
>
  <ng-container *nzDrawerContent>
    <ul
      nz-menu
      nzTheme="light"
      nzMode="vertical"
    >
      <li nz-menu-item>
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <a style="margin-left: 8px" [routerLink]="['/account','profile']">{{ "contentPage.accountDrawer.myProfile" | nzI18n }}</a>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="book" nzTheme="outline"></span>
        <a style="margin-left: 8px" [routerLink]="['/account','user-articles']">{{ "contentPage.accountDrawer.myArticles" | nzI18n }}</a>
      </li>
      <ng-container *ngIf="(currentClaims$ | async) as currentClaims">
        <li nz-menu-item *ngIf="currentClaims.includes(AvailableClaims.AccessAdminPage)">
          <span nz-icon nzType="lock" nzTheme="outline"></span>
          <a style="margin-left: 8px" [routerLink]="['/admin']">{{ "contentPage.accountDrawer.adminPanel" | nzI18n }}</a>
        </li>
      </ng-container>
      <li nz-menu-item>
        <span
          nz-icon
          nzType="warning"
          [nzTheme]="'twotone'"
          [nzTwotoneColor]="'#ff4d4f'"
        ></span>
        <span
          style="margin-left: 8px"
          nz-typography
          nzType="danger"
          (click)="onSignOut()"
        >
          {{ "contentPage.accountDrawer.signOut" | nzI18n }}
        </span>
      </li>
    </ul>
  </ng-container>
</nz-drawer>
