.sar-logo {
  height: 22px;
}

.sar-header {
  padding: 16px;
  background-color: #002a5d;
}

.sar-top-menu-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 10px 1px #9b9b9b4a;
}

.sar-account-button {
  display: flex;
  cursor: pointer;
  text-align: center;
  align-items: center;
  padding: 0 10px;
  transition: .2s;

  &:hover {
    color: #1890ff;
  }
}

.sar-page-content {
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .sar-page-content {
    padding: 7px;
  }
}
