<nz-layout class="page-layout">
  <nz-header class="sar-admin-page-header">
    <div class="logo">
      <ng-container *ngIf="isMobile$ | async; else goBackButton">
        <button
          nz-button nzType="link"
          (click)="openDrawer()"
        >
          <span nz-icon nzType="menu"></span>
        </button>
      </ng-container>
      <ng-template #goBackButton>
        <button
          nz-button nzType="link"
          [routerLink]="['/content']"
        >
          <span nz-icon nzType="arrow-left"></span>
        </button>
      </ng-template>
      <img
        src="assets/images/science-archive.logo.with-text.svg"
        alt="Logo"
        class="sar-logo"
      >
    </div>
  </nz-header>
  <nz-layout>
    <ng-container *ngIf="isMobile$ | async; else desktopSider">
      <nz-drawer
        nzTitle="Administration"
        nzClosable="true"
        nzPlacement="left"
        [nzVisible]="(showMobileDrawer$ | async) ?? false"
        (nzOnClose)="closeDrawer()"
      >
        <ng-container class="drawer-content" *nzDrawerContent>
          <ul nz-menu nzMode="inline" nzTheme="light">
            <li nz-menu-item>
              <span nz-icon nzType="book" nzTheme="outline"></span>
              <a style="margin-left: 8px" (click)="onDrawerNavigateTo('/admin', 'articles')">Articles</a>
            </li>
            <li nz-menu-item>
              <span nz-icon nzType="container" nzTheme="outline"></span>
              <a style="margin-left: 8px" (click)="onDrawerNavigateTo('/admin', 'news')">News</a>
            </li>
            <li nz-menu-item>
              <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
              <a style="margin-left: 8px" href="/content">Back to content</a>
            </li>
          </ul>
        </ng-container>
      </nz-drawer>
    </ng-container>
    <ng-template #desktopSider>
      <nz-sider nzWidth="248px" nzTheme="light">
        <ul nz-menu nzMode="inline" nzTheme="light">
          <li
            nz-menu-item
            routerLink="articles"
            nzMatchRouter
          >
            <span nz-icon nzType="book" nzTheme="outline"></span>
            <span>Articles</span>
          </li>
          <li
            nz-menu-item
            routerLink="news"
            nzMatchRouter
          >
            <span nz-icon nzType="container" nzTheme="outline"></span>
            <span>News</span>
          </li>
        </ul>
      </nz-sider>
    </ng-template>
    <nz-layout class="inner-layout">
      <nz-content style="padding: 0">
        <router-outlet/>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
