<nz-card>
  <ng-container *ngIf="article$ | async as article; else errorView">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/content', 'articles']">{{ 'articlePage.articles' | nzI18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a
          nz-tooltip
          [nzTooltipTitle]="article.categoryName"
          [routerLink]="['/content', 'articles']"
          [queryParams]="{categoryId: article?.categoryId}"
        >{{article.categoryName.substring(0, 10) + "..."}}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{article.id?.substring(0, 10) + "..."}}
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <h2>{{article.title}}</h2>

    <p class="sar-article-description">
      {{article.description}}
    </p>

    <nz-list nzItemLayout="horizontal" [nzHeader]="'articlePage.linkedDocuments' | nzI18n">
        <div *ngIf="article.documents.length && article.documents.length > 0; else emptyDocs">
          <nz-list-item *ngFor="let document of article.documents">
            <a href="/api/documents/{{document.path}}" target="_blank" rel="noopener noreferrer">{{ document.name }}</a>
          </nz-list-item>
        </div>
    </nz-list>

    <ng-template #emptyDocs>
      <nz-empty [nzNotFoundContent]="'articlePage.noDocuments' | nzI18n"/>
    </ng-template>
  </ng-container>

  <ng-template #errorView>
    <ng-container *ngIf="error$ | async as error">
      <ng-container [ngSwitch]="error">
        <ng-container *ngSwitchCase="400">
          <ng-container *ngTemplateOutlet="badRequestErrorView"/>
        </ng-container>
        <ng-container *ngSwitchCase="403">
          <ng-container *ngTemplateOutlet="forbiddenErrorView" />
        </ng-container>
        <ng-container *ngSwitchCase="404">
          <ng-container *ngTemplateOutlet="notFoundErrorView" />
        </ng-container>
        <ng-container *ngSwitchCase="500">
          <ng-container *ngTemplateOutlet="internalServerErrorView" />
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ng-container *ngTemplateOutlet="commonError" />
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #badRequestErrorView>
    <nz-result nzStatus="warning" [nzTitle]="'articlePage.invalidSearchData' | nzI18n" [nzSubTitle]="'articlePage.incorrectDataWasPassed' | nzI18n">
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          [routerLink]="['/content', 'articles']"
        >
          {{ 'articlePage.backToArticles' | nzI18n }}
        </button>
      </div>
    </nz-result>
  </ng-template>
  <ng-template #forbiddenErrorView>
    <nz-result nzStatus="warning" [nzTitle]="'articlePage.forbiddenResource' | nzI18n" [nzSubTitle]="'articlePage.youCannotView' | nzI18n">
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          [routerLink]="['/content', 'articles']"
        >
          {{ 'articlePage.backToArticles' | nzI18n }}
        </button>
      </div>
    </nz-result>
  </ng-template>
  <ng-template #notFoundErrorView>
    <nz-result nzStatus="404" [nzTitle]="'articlePage.notFound' | nzI18n" [nzSubTitle]="'articlePage.articleNotExist' | nzI18n">
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          [routerLink]="['/content', 'articles']"
        >
          {{ 'articlePage.backToArticles' | nzI18n }}
        </button>
      </div>
    </nz-result>
  </ng-template>
  <ng-template #internalServerErrorView>
    <nz-result nzStatus="error" [nzTitle]="'articlePage.serverError' | nzI18n" [nzSubTitle]="'articlePage.internalServerError' | nzI18n">
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          [routerLink]="['/content', 'articles']"
        >
          {{ 'articlePage.backToArticles' | nzI18n }}
        </button>
      </div>
    </nz-result>
  </ng-template>
  <ng-template #commonError>
    <nz-result nzStatus="error" [nzTitle]="'articlePage.unknownError' | nzI18n" [nzSubTitle]="'articlePage.unableToProcess' | nzI18n">
      <div nz-result-extra>
        <button
          nz-button
          nzType="primary"
          [routerLink]="['/content', 'articles']"
        >
          {{ 'articlePage.backToArticles' | nzI18n }}
        </button>
      </div>
    </nz-result>
  </ng-template>
</nz-card>
