<div class="page-wrapper">
  <div class="top-logo-wrapper">
    <h1>Science Archive</h1>
  </div>
  <div class="top-menu">
    <div class="top-menu-elements-wrapper">
      <div
        class="top-menu-element"
        routerLink="/main/articles"
      >
        Articles
      </div>
      <div
        class="top-menu-element"
        routerLink="/main/categories"
      >
        Categories
      </div>
      <div
        class="top-menu-element"
        routerLink="/main/authors"
      >
        Authors
      </div>
      <div
        class="top-menu-element"
        routerLink="/main/news"
      >
        News
      </div>
    </div>
    <div
      *ngIf='isAuthorized; else notAuthorizedBlock'
      class='top-menu-auth'
      (click)='onSignOut()'
    >
      {{login}}
    </div>
    <ng-template #notAuthorizedBlock>
      <div
        class="top-menu-auth"
        routerLink="/auth"
      >
        Sign in
      </div>
    </ng-template>
  </div>
  <router-outlet></router-outlet>
</div>
