<form nz-form class="code-confirm-form" [formGroup]="formGroup">
  <h2>Enter confirmation code</h2>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="form">
        <input type="text" formControlName="code" nz-input placeholder="Code" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <a (click)="resendConfirmationCode()">
    Resend code
  </a>
  <button nz-button class="sign-in-form-button" [nzType]="'primary'" (click)="confirm()">
    Confirm
  </button>
</form>
