<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>
<sar-article-card [style]="'margin-top: 10px'"></sar-article-card>



