.page-wrapper {
  width: 90%;
}

.articles-container {
  margin-top: 50px;
}

.page-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header {
  font-size: 30px;
  color: #333333;
}
