<div *ngIf="(isLoading$ | async); else categoriesView">
  <sar-category-card-skeleton
    *ngFor="let _ of [1,2,3]"
    style="margin-top: 10px"
  ></sar-category-card-skeleton>
</div>

<ng-template #categoriesView>
  <nz-card *ngIf="(categories$ | async)?.length === 0; else categoriesList">
    <nz-empty nzNotFoundContent="No categories found"/>
  </nz-card>
</ng-template>
<ng-template #categoriesList>
  <sar-category-card
    *ngFor="let category of categories$ | async"
    [category]="category"
    style="margin-top: 10px"
  ></sar-category-card>
</ng-template>
