<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
<sar-category-card [style]="'margin-top: 10px'"></sar-category-card>
